<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Device_Interface_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Device_Interface_Manager.Properties.Settings>
            <setting name="MinimizedHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MSFS_PMDG_B737_Captain_CDU_SN" serializeAs="String">
                <value />
            </setting>
            <setting name="MSFS_PMDG_B737_Firstofficer_CDU_SN" serializeAs="String">
                <value />
            </setting>
            <setting name="MSFS_PMDG_B737_MCP_SN" serializeAs="String">
                <value />
            </setting>
            <setting name="MSFS_FBW_A32NX_Captain_MCDU_SN" serializeAs="String">
                <value />
            </setting>
            <setting name="MSFS_FBW_A32NX_MCDU_SelectedDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MSFS_FBW_A32NX_Firstofficer_MCDU_SN" serializeAs="String">
                <value />
            </setting>
            <setting name="MSFS_FENIX_A320_Captain_MCDU_SN" serializeAs="String">
                <value />
            </setting>
            <setting name="PMDG737CDU0Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU0Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU0Height" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="PMDG737CDU0Width" serializeAs="String">
                <value>830</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PMDG737CDU1Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1Height" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="PMDG737CDU1Width" serializeAs="String">
                <value>830</value>
            </setting>
            <setting name="PMDG737CDU0FontSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PMDG737CDU0MarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU0MarginBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU0MarginLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU0MarginRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU0GridWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU0GridHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1FontSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PMDG737CDU1MarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1MarginBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1MarginLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1MarginRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1GridWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1GridHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ENET" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PMDG737CDU0Fullscreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PMDG737CDU1Fullscreen" serializeAs="String">
                <value>0</value>
            </setting>
        </Device_Interface_Manager.Properties.Settings>
    </userSettings>
</configuration>